/* Signup.css */

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signup-content {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .signup-content h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 14px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #1ea7fd;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0c87e6;
  }
  
  p {
    font-size: 14px;
  }
  
  p a {
    color: #1ea7fd;
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  